agnn_env/
__pycache__/
*.pyc
.env
.ipynb_checkpoints

outputs/**
!outputs/**/
!outputs/.gitignore
!outputs/**/.gitkeep

!outputs/**/checkpoints/
!outputs/**/checkpoints/*.pt

# allow regeneration test videos
!outputs/**/test_regrowth/**/*.mp4

data/**
!data/**/
!data/.gitignore
!data/**/.gitkeep

*.pt
!outputs/**/checkpoints/*.pt
