agnn_env/
__pycache__/
*.pyc
.env
.ipynb_checkpoints

outputs/**
!outputs/**/
!outputs/.gitignore
!outputs/**/.gitkeep

!outputs/**/checkpoints/
!outputs/**/checkpoints/*.pt

!outputs/**/test_regrowth/**/
!outputs/**/test_regrowth/**/combo.mp4
!outputs/**/test_regrowth/**/attention.mp4

data/**
!data/**/
!data/.gitignore
!data/**/.gitkeep

*.pt
!outputs/**/checkpoints/*.pt
